/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  @media screen and (max-width 767px)
    max-width 300px!important

  @media screen and (min-width 768px)
    max-width 500px!important
